*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;
  color: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

a:hover{
  color: var(--brand-color-light);
}

:root{
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;

  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --ff-arch: "Archivo", sans-serif;

  --heading-1: 800 1.5rem/1.35 var(--ff-arch);
  --heading-2: 800 1rem/1.40 var(--ff-arch);
  --heading-3: 800 0.875rem/1.40 var(--ff-arch);
  --span: 600 0.875rem/1.45 var(--ff-arch);
  --paragraph: 400 0.875rem/1.60 var(--ff-arch);

  --px-lg: 1rem;
}

body{
  font: var(--paragraph);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

ul li{
  list-style: none;
}

@media (width >= 76em) {
  :root{
    --px-lg: 2rem;
  }

}
